@using vue3_mvc.Helpers
@{ 
    var isDevelopment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development";
    var viteScriptAssetPath = ViteHelper.GetViteAssetPath("src/main.ts");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" asp-append-version="true" crossorigin href="/vite-dist/bundle.css">
    <title>@ViewData["Title"] - Vue 3 in .NET MVC</title>
</head>

<body>
<div id="app"></div>
<div id="ssr-body">
    @RenderBody()
</div>

@if (isDevelopment)
{
    <script type="module" src="http://localhost:5555/src/main.ts"></script>
}
else
{
    <script type="module" asp-append-version="true"  crossorigin src="@viteScriptAssetPath"></script>
}

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>