<div id="loader" style="font-size: 20px">
  <div class="spinner-container" id="index-page-spinner">
    <div class="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div>Indlæser..</div>
  </div>
</div>

<style>
    .spinner-container {
        font-family: arial, sans-serif;
        display: flex;
        margin: auto;
        align-items: center;
        flex-direction: column;
        min-height: 95vh;
        justify-content: center;
    }

    .spinner,
    .spinner div {
        box-sizing: border-box;
    }

    .spinner {
        display: inline-block;
        position: relative;
        width: 52px;
        height: 60px;
    }

    .spinner div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 38px;
        height: 38px;
        margin: 8px;
        border: 4px solid currentColor;
        border-radius: 50%;
        animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #5e0092 transparent transparent transparent;
    }

    .spinner div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .spinner div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .spinner div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @@keyframes spinner {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>