body {
    @media (prefers-color-scheme: dark) {
        background: black;
        color: white;
    }
}

.wrapper {
    font-family: Monaco, sans-serif;
}

.wrapper {
    width: fit-content;
    margin: 10px 0;
    border: 2px solid mediumvioletred;
    border-radius: 8px;
    padding: 2px 18px;
}

.dotnet {
    padding: 14px;
    border: 2px solid royalblue;
    border-radius: 8px;
}