@{
    ViewData["Title"] = "Home Page";
}

<div style="font-family: Arial">
    This is a server side rendered .NET MVC application running Vue 3 as the front-end.
    <some-vue-component></some-vue-component>
</div>