@{
    ViewData["Title"] = "Home Page";
}

<div style="font-family: Arial; margin: 10px;">
    This is a server side rendered .NET MVC application running Vue 3 as the front-end.
    <some-vue-component></some-vue-component>
    <div style="max-width: 170px;">
        <switch-toggle initially-on>Switch toggle</switch-toggle>
    </div>
</div>